.filtros{
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    input[type="range"]{

  accent-color: #ff9130; 
  border-radius: 2px;
  outline: none;
  margin: 0 1rem;

    }
    select{
background-color: #ff9130;
border: none;
border-radius: 10px;
padding: 0.2rem;
    }
    div{
        display: flex;
        align-items: center;
    }
    

}

@media (max-width:768px) {
    .filtros{
        div{
            flex-direction: column;
        }
    }
}