.filtros {
  display: flex;
  color: #471203;
  justify-content: space-between;
  font-weight: bold;
  input[type="range"] {
    accent-color: #ff9130;
    border-radius: 2px;
    outline: none;
  }
  select {
    background-color: #ff9337;
    color: #471203;
    appearance: base-select;
    border: none;
    border-radius: 4px;
    padding: 0.3rem;
  }

  select,
  ::picker(select) {
    border: none;
    appearance: base-select;
  }
  option {
    background-color: #ff9337;
    color: #471203;
    display: flex;
    justify-content: flex-start;
    border: 2px solid #ddd;
  }
  option:hover {
    background-color: #ff7008;
  }
  option:first-of-type {
    border-radius: 8px 8px 0 0;
  }
  option:not(option:last-of-type) {
    border-bottom: none;
  }
  option:last-of-type {
    border-radius: 0 0 8px 8px;
  }
  div {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .filtros {
    div {
      flex-direction: column;
    }
  }
}
