.loading-overlay {
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
  width: 10rem;
  color: #ff7008;
  animation: Scale 0.95s alternate-reverse infinite;
}
}



@keyframes Scale {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}
