.productos {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 0.5rem;

  li {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 1rem;
    display: grid;
    
    grid-template-rows: auto 1fr auto;
    div{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    button {

        
      background-color: var(--accent-primary);
      color: var(--bg-secondary);
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--accent-hover);
      }
    }
  }

  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .productos {
    grid-template-columns: 1fr;
  }
}
